<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type = "hidden" name = "_csrf" value = "{{_csrf.token}}"/>
    </form>
</div>
<div>
    <form method = "post">
        <input type = "text" name = "name" placeholder="введите название" />
        <input type = "text" name = "writer" placeholder="введите автора" />
        <button type = "submit"> Добавить </button>
        <input type = "hidden" name = "_csrf" value = "{{_csrf.token}}"/>
    </form>
</div>
<div>
    Список книг
    <form method = "post" action = "filter">
        <input type = "text" name = "filter">
        <button type = "submit">Найти</button>
        <input type = "hidden" name = "_csrf" value = "{{_csrf.token}}"/>
    </form>
</div>
{{#books}}
    <div>
        <b>{{id}}</b>
        <b>{{name}}</b>
        <b>{{writer}}</b>
        <strong>{{authorName}}</strong>
    </div>
{{/books}}
</body>
</html>